@using Language.Models;
@using Language.ViewModel;

@model MenuVM

@{
    ViewBag.Title = "Menu";
}

<div id="menuPage">
    <div class="container-fluid">
        <div class="row">
            <!-- TABS HEADERS START HERE -->
            <div class="nav flex-column nav-pills col-lg-1 my-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                @for (int i = 0; i < Model.category.Count; i++)
                {
                <a class="text-center nav-link @( i == 0 ? "active" : "" )" id="v-pills-@Model.category[i].Name.Replace(" ", "").Replace("&", "")-tab" data-toggle="pill" href="#v-pills-@Model.category[i].Name.Replace(" ", "").Replace("&", "")" role="tab" aria-controls="v-pills-@Model.category[i].Name.Replace(" ", "").Replace("&", "")" title="@Model.category[i].Name">
                    <small class="center">@Model.category[i].Name</small>
                    <img class="center" src="~/Public/images/category/@Model.category[i].Image" alt="Icon not found" />
                </a>
                }

                @*GO TO HOME PAGE*@
                <a href="/Home/Index" class="nav-link">
                    <img class="center" src="~/Public/images/home.png" alt="Icon not found" />
                    <small class="center">Back to Home</small>
                </a>
            </div>
            <!-- TABS HEADERS END HERE -->
            <!-- TABS BODY START HERE -->
            <div class="tab-content col-lg-11 py-5" id="v-pills-tabContent">
                @for (int i = 0; i < Model.category.Count; i++)
                {
                    <div class="tab-pane fade show @(i == 0 ? "active" : "" )" id="v-pills-@Model.category[i].Name.Replace(" ", "").Replace("&", "")" role="tabpanel" aria-labelledby="v-pills-@Model.category[i].Name.Replace(" ", "").Replace("&", "")-tab">
                        <div class="row">
                            @Html.Partial("_Foodcard", Model.food.Where(s => s.Food_Category.Id == Model.category[i].Id))
                        </div>
                    </div>
                }
            </div>
            <!-- TABS BODY END HERE -->
        </div>

    </div>
</div>

